@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: bold;
}